@import "./variables.scss";

body {
  background-color: var(--background-colour);
  color: var(--text-colour);
  margin: 0;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: none;
  height: 1px;
  background-color: #4d4d4d;
  margin: 0;
}
