@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

:root {
  --font: "Karla", sans-serif;
  --background-colour: #0a0a0a;
  --light-background: #18181b;
  --lighter-background: #222226;
  --text-colour: #ffffff;
  --accent-colour: #33bbff;
  --gradient: linear-gradient(90deg, #fada38 0%, #33ff77 49.48%, #33bbff 100%);
}
