.quiz-block {
  margin: 150px 0 350px 0;
  
  .question {
    color: var(--text-colour);
    font-size: 1.9rem;
  }

  .middle-section {
    display: flex;

    .quiz-box {
      background-color: var(--lighter-background);
      border: none;
      border-radius: 3px;
      color: var(--text-colour);
      min-width: 500px;
      min-height: 350px;
      resize: none;
      font-family: "Arial";
      font-size: 1.25rem;
      padding: 1rem;
      margin-right: 1rem;
    }

    .answer-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      .reveal-answer {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--accent-colour);
        font-size: 1.25rem;
        cursor: pointer;

        .eye-icon {
          width: 3rem;
        }
      }
    }
  }

  .next-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;

    .next-question-btn {
      background-image: none;
      background-color: var(--background-colour);
      border: none;
      color: var(--accent-colour);
      font-size: 1.25rem;
      cursor: pointer;
    }

    .down-arrow-icon {
      width: 2rem;
      margin-top: 0.5rem;
    }
  }
}
